.timer {
    background: #f0d3d8;
    width: 680px;
    height: 670px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

    &__info {
        text-align: center;
    }

    &__city {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }

    &__data {
        display: flex;
        gap: 30px;
        margin-top: 30px;
        text-align: center;
        line-height: 1.5rem;
    }
}