@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
    @include d-flex( flex, null, space-between, center);
    padding: 20px 60px 20px 60px;
    background: rgb(16, 97, 202);
    color: $white;

    &__trip {
        font-size: 1.5rem;
        font-weight: 600;

    }

    &__search {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: rgba(88, 165, 255, 1);
        border-radius: 3px;
    }

    &__search__input {
        @include d-flex( flex, null, space-between, center);
        border-radius: 6px;
        margin-left: 40px;
        padding: 0px 3px 0px 3px;
        width: 268px;
        background: $white;
    }

    &__input {
        background: none;
        padding: 8px;
        outline: none;
        color: $black;
    }

    &__regist {
        @include d-flex( flex, null, center, center);
    }

    &__profile {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        @include d-flex( flex, null, null, center);
    }

    &__out {
        cursor: pointer;
        background: rgba(88, 165, 255, 1);
        color: $white;
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        margin-right: 20px;
    }

    &__log {
        cursor: pointer;
        background: rgba(88, 165, 255, 1);
        color: $white;
        margin: 0;
        padding: 5px;
        border-radius: 5px;
    }

    &__list {
        position: absolute;
        background: $white;
        margin-left: 136px;
        margin-top: 30px;
        width: 268px;
        height: 100px;
        z-index: 100;
        color: $black;
        padding: 10px 20px;
        border-radius: 6px;
    }

    &__city {
        cursor: pointer;
    }

    &__date {
        font-size: 0.6rem;
        color: grey;
    }
}