@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.widget {
    background: #f0d3d8;
    width: 1100px;
    height: 400px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    @include d-flex( flex, null, null, center);
    gap: 20px;

    &__images {
        width: 265px;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
    }

    &__container {
        background-color: $white;
        width: 260px;
        height: 350px;
        border-radius: 10px;
    }

    &__add {
        padding: 50px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        margin-left: 25px;
    }

    &__city {
        padding: 10px 10px 0px 10px;
        line-height: 1.7rem;
    }

    &__data {
        padding: 10px 10px;
        line-height: 1.7rem;
    }

    &__info {
        padding: 0px 10px 0px 10px;
    }

    &__maping {
        display: flex;
    }

    &__main {
        background-color: $white;
        margin: 0px 10px;
        border-radius: 10px;
        height: 350px;
    }
}
